#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
#java -Djava.library.path=$DIR -cp $DIR/wildtangent.jar:$DIR/ms.jar:$DIR -Xbootclasspath/p:$DIR/rt.jar -jar main.jar
java -Djava.library.path=$DIR -cp $DIR/wildtangent.jar:$DIR/Main.jar:. \
     -Xbootclasspath/p:$DIR/rt.jar Main
